# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
*.ipr

# =========================
# Build / Output
# =========================
target/
out/
build/

# =========================
# Environment / Local Files
# =========================
.env
.DS_Store

# =========================
# Logs / System
# =========================
*.log
*.class
